<ion-view view-title="Lead notes" name="lead-view">

  <ion-nav-buttons side="left">
    <a class="button icon-left ion-chevron-left button-clear button-dark" href="/#/main/leads">Back</a>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button icon-left ion-log-out button-stable" ng-click="logout()">Logout</button>
  </ion-nav-buttons>

  <div class="tabs-striped tabs-top tabs-background-negative ">
    <div class="tabs">
      <a class="tab-item" href="/#/main/lead/1/detail"><i class="icon ion-android-expand"></i>Detail</a>
      <a class="tab-item" href="/#/main/lead/1/history"><i class="icon ion-clock"></i>History</a>
      <a class="tab-item active" href="/#/main/lead/1/notes"><i class="icon ion-android-textsms"></i>Notes</a>
      <a class="tab-item" href="/#/main/lead/1/social"><i class="icon ion-social-rss"></i>Social</a>
    </div>
  </div>

  <ion-content class="padding" style="padding-top:55px;">
    <div class="card">
      <div class="item item-divider">Healthy Pet Challenge</div>
      <div class="item item-text-wrap">
        <p>At March 31, 2016 2:03 pm, Campaign Action Triggered.</p>
        <p>Triggered Send Cost Email event</p>
      </div>
    </div>
  </ion-content>

</ion-view>
