<ion-view view-title="Lead detail" name="lead-view">

  <ion-nav-buttons side="left">
    <a class="button icon-left ion-chevron-left button-clear button-dark" href="/#/main/leads">Back</a>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button icon-left ion-log-out button-stable" ng-click="logout()">Logout</button>
  </ion-nav-buttons>

  <div class="tabs-striped tabs-top tabs-background-negative ">
    <div class="tabs">
      <a class="tab-item active " href="/#/main/lead/1/detail"><i class="icon ion-android-expand"></i>Detail</a>
      <a class="tab-item" href="/#/main/lead/1/history"><i class="icon ion-clock"></i>History</a>
      <a class="tab-item" href="/#/main/lead/1/notes"><i class="icon ion-android-textsms"></i>Notes</a>
      <a class="tab-item" href="/#/main/lead/1/social"><i class="icon ion-social-rss"></i>Social</a>
    </div>
  </div>

  <ion-content class="padding" style="padding-top:55px;">
    <ul class="list">
      <li class="item"><strong>First Name</strong> : Eric</li>
      <li class="item"><strong>Customer ID</strong> :</li>
      <li class="item"><strong>Last Name</strong> :</li>
      <li class="item"><strong>Message</strong> : </li>
      <li class="item"><strong>Pet Brand of Food</strong> : Iams</li>
      <li class="item"><strong>Phone</strong> : </li>
      <li class="item"><strong>Pet Weight</strong> : 30 lbs </li>
      <li class="item"><strong>Company</strong> : </li>
      <li class="item"><strong>Pet Name</strong> : Little Rat</li>
      <li class="item"><strong>Position</strong> : </li>
      <li class="item"><strong>Pet Age</strong> : 2 yrs </li>

      <li class="item"><strong>Pet Age</strong> : </li>
      <li class="item"><strong>Email</strong> : eric@lexul.com </li>
      <li class="item"><strong>Pet Breed</strong> : Mutt</li>
      <li class="item"><strong>Mobile</strong> : </li>
      <li class="item"><strong>Fax</strong> : </li>

      <li class="item"><strong>Address Line 1</strong> : </li>
      <li class="item"><strong>Address Line 2</strong> : </li>
      <li class="item"><strong>LA ID</strong> : </li>
      <li class="item"><strong>City</strong> : Dollar Bay</li>
      <li class="item"><strong>State</strong> : Michigan</li>

      <li class="item"><strong>Zipcode</strong> : </li>
      <li class="item"><strong>Notes</strong> : </li>
      <li class="item"><strong>Country</strong> : </li>
      <li class="item"><strong>Website</strong> : </li>
      <li class="item"><strong>Lead Source</strong> : </li>


    </ul>
  </ion-content>

</ion-view>
